* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #202329;
  --secondary-color: #40434A;
  --link-color: #009A9C;
  --background-color: #efeeeb;
  --font-headings: 'Playfair Display', serif;;
  --font-body: 'Lora', serif;
}

html {
  font-size: 62.5%;
  font-family: var(--font-body);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* -----------header----------- */
.header {
  height: 70px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  min-width: 320px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
}

.header__logo {
  width: 20%;
  padding: 10px;
}

.header__logo img{
  width: 100%;
  display: block;
  max-width: 40px;
}

.header__input {
  width: 60%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.header__input input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.header__user {
  width: 20%;
  display: flex;
  font-size: 1rem;
  justify-content: space-evenly;
}

.header__user span:first-child{
  color: var(--secondary-color);
  font-weight: bolder;
  font-family: var(--font-headings);
  display: none;
}

.header__user-logo img{
  width: 100%;
  display: block;
  max-width: 20px;
}

.header__user-icon {
  background-image: url('https://i.postimg.cc/X7vC5b4s/arrow-down.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  display: inline-block;
}

/* ----------main--------- */

.container {
  display: grid;
  grid-template: 65px auto / minmax(300px, 1fr);
  grid-gap: 15px;
  background-color: var(--background-color);
  
}

.container__brand-new,
.container__awarded,
.container__recommend {
  display: grid;
  grid-template: auto / repeat(auto-fill, 289px);
  grid-gap: 15px 5px;
  justify-content: center;
}


.container__nav {
  /* height: 30px; */
  background-color: var(--link-color);
}

.container__nav ul {
  display: flex;
  justify-content: space-around;
}

.container__nav .container-nav__item {
  padding: 10px 5px;
  text-align: center;
}

.container-nav__item span,
.container-nav__item a {
  display: block;
  font-weight: 700;
  letter-spacing: .1em;
  color: var(--primary-color);
  margin: 0 auto; /* centrea los iconos */
}
.container-nav__item span {
  margin-bottom: 2px;
}

.container-nav__item .home-icon {
  background: url('https://i.postimg.cc/Vkk9Rt1P/home.png') center / contain no-repeat;
  width: 25px;
  height: 25px;
}

.container-nav__item .trending-icon {
  background: url('https://i.postimg.cc/G3vjhrzV/fire.png') center / contain no-repeat;
  width: 25px;
  height: 25px;
}

.container-nav__item .likes-icon {
  background: url('https://i.postimg.cc/gkDq8DCK/heart.png') center / contain no-repeat;
  width: 25px;
  height: 25px;
}

.container-nav__item .settings-icon {
  background: url('https://i.postimg.cc/xTY3X74C/settings.png') center / contain no-repeat;
  width: 25px;
  height: 25px;
}

/* ------titles------ */

.container__title {
  font-size: 2rem;
  font-family: var(--font-headings);
  color: var(--link-color);
  letter-spacing: .2em;
  font-weight: 600;
}


/* -------container-item------- */
.container__item {
  position: relative;
  /* width: 90%; */
  width: 289px;
  /* max-width: 400px; */
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  overflow: hidden; /* deja ver los bordes redondeados */
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.5);
}
.container__item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
  
  .container__item-overlay {
  position: absolute;
  top: calc(60%);
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  background: linear-gradient(0deg, rgba(0,0,0,.8),rgba(0,0,0,.5));
  color: var(--background-color);
  padding: 1em;
  /* display: none; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

}



.container__item-overlay h3 {
  letter-spacing: .2em;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-headings);
  margin-bottom: .5em;
}
.container__item-overlay p {
  font-size: 1.225rem;
  line-height: 1.7rem;
}


@media (min-width: 760px) {
  .container {
    grid-template: 50px 1fr 50px 1fr 50px 1fr / minmax(60px,100px) 1fr;
    grid-gap: 10px;
    grid-template-areas:  "nav title-brand"
                          "nav brand-new"
                          "nav title-awarded"
                          "nav awarded"
                          "nav title-recommend"
                          "nav recommend";
  }

  .container__nav {
    grid-area: nav;
  }
  .brand-new {
    grid-area: title-brand;
  }
  .container__brand-new {
    grid-area: brand-new;
  }
  .awarded {
    grid-area: title-awarded;
  }
  .container__awarded {
    grid-area: awarded;
  }
  .recommend {
    grid-area: title-recommend;
  }
  .container__recommend {
    grid-area: recommend;
  }

  .container__nav ul {
    /* display: flex; */
    align-content: flex-end;
    flex-direction: column;
    
  }

  .container__item {
    /* width: 80%; */
    width: 250px;
    height: auto;
  }

  .container__item-overlay {
    display: none;
  }

  .container__item:hover .container__item-overlay {
  display: flex;
  }

  .header__user span:first-child{
    display: block;
    font-size: 1.3rem;
  }


}